* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#photos-container {
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

.information-container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.btn {
  border: none;
  outline: none;
  background-color: #d61726;
  color: white;
  font-weight: 700;
}

.logo-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  margin-bottom: 10px;
  max-height: 100vh;
}
.pagination button {
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  outline: none;
  background-color: #d61726;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
}

#photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  background-color: #d61726;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  bottom: 0px;
  max-height: 100vh;
  width: 100%;
}

.footer-container a {
  text-decoration: none;
  font-weight: 500;
}

.modal-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: #d61726;
  color: white;
  font-size: 20px;
  max-height: 100vh;
  width: 100%;
  border-radius: 5px;
}

.modal-body a {
  text-decoration: none;
  background-color: white;
  font-weight: 500;
  color: #d61726;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}
